.top {
    margin: 0 auto;
    height: 80px;
    width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 225px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}

.logo_pic {
    padding-left: 165px;
}

.logo_text {
    padding-left: 165px;
    margin-top: -60px;
    margin-left: 104px;
    font-family: Oleg Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.logo_link {
    text-decoration: none;
}

.user_text {
    margin-left: -440px;
    font-family: Oleg Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.cycle {
    margin-left: 555px;
    padding-top: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
}

.name {
    font-family: Oleg Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.left_name {
    padding-left: 386px;
    margin-top: -92px;
}

.text {
    font-family: Neue Haas Unica W1G;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 12px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
    padding-top: 50px;
    padding-left: 30px;
}

.right_name {
    margin-top: -92px;
    padding-left: 100px;
}

.mid {
    margin-top: -86px;
    padding-left: 100px;
}

.mini {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    padding-left: 20px;
}

.higher {
    color: #777777;
    padding-top: 36px;
    margin-bottom: 0px;
}

.middle {
    padding-left: 20px;
    box-shadow: none;
    margin-top: 0px;
    padding-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 4px;
}

.center {
    margin-top: 60px;
}

.down {
    margin-top: 0px;
}

.box_mid {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}

.cicled {
    position: absolute;
    margin-top: 170px;
    margin-left: 120px;
}


.cicled_arrow {
    position: absolute;
    margin-top: 180px;
    margin-left: 132px;
}

.cicled_right {
    margin-top: 110px;
    margin-left: 1122px;
}


.cicled_arrow_right {
    margin-top: 120px;
    margin-left: 1135px;
    transform: rotate(180deg);
}

.white_rect {
    width: 61px;
    height: 25px;
    position: absolute;
    margin-top: 115px;
}

.w2 {
    margin-left: 285px;
}

.w3 {
    margin-left: 570px;
}

.w4 {
    margin-left: 855px;
}

.raiting {
    position: absolute;
    margin-top: 120px;
    margin-left: 10px;
}

.star {
    margin-right: 2px;
}

.r2 {
    margin-left: 295px;
}

.r3 {
    margin-left: 580px;
}

.r4 {
    margin-left: 865px;
}

.bot {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    padding-left: 165px;
    padding-right: 165px;
}

.arrow {
    width: 10px;
    height: 6px;
    margin-top: 12px;
    margin-left: 280px;
}

.bot_text {
    box-shadow: none;
    padding: 0 0 0 0;
    margin-left: 15px;
    margin-top: 3px;
}

.left_bot_parent {
    display: table-column;;
}

.right_bot_parent {
    display: table-column;;
}

.left_bot {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #E7E8EA;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    width: 540px;
    height: 50px;
    left: 165px;
    top: 743px;
}

.bot_img {
    width: 30px;
    height: 30px;
}

.reversed {
    transform: rotate(180deg);
}

.opened {
    display: flex;
}

.open {
    display: block;
    width: 540px;
    height: 198px;
    left: 735px;
    top: 743px;
}

.open_text {
    margin: 0 50px 0 46px;
    font-family: Neue Haas Unica W1G;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}