body{
    font-family: sans-serif;
    margin: 0 auto;
}
.top{
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}
.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
    padding-left: 0;
    margin: 0;
    margin-bottom: 115px;
}
.top_info{
    flex-grow: 1;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.top_heading{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
    margin-top: 0;
}
.text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.top_text{
    width: 425px;
    margin-bottom: 71px;
    margin-top: 0;
}
.text_project{
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin-top: 0px;
    margin-bottom: 64px;
    opacity: 1;
}
.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
}
.what_we_do{
    padding-top: 64px;
}
.heading{
    margin-top: 0;
    width: 1137px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.card_box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
.heading_mini{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    width: 283px;
    margin-top: 51px;
    margin-bottom: 14px;
}
.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.card{
    width: 359px;
    padding: 44px 32px;
    text-align: left;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.project{
}
.images{
    width: 100%;
}
.project_item{
    position: relative;
    flex-grow: 1;
    margin-right: 32px;
}
.project_text{
    margin-top: 0;
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}
.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.project_text_0{
    margin-top: 0;
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;
}
.bot{
    margin-top: 112px;
    background: #316099;
    margin-bottom: 0;
}
.bot_heading{
    width: 341px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 91px;
    padding-left: 113px;
    padding-bottom: 32px;
    margin-bottom: 0;
}
.bot_text{
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-left: 113px;
    margin-top: 0;
}
.bot_link{
    position: absolute;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    padding: 15px 80px;
    right: 114px;
    top: -50px;
}
.bot_content{
    position: relative;
    padding-bottom: 91px;
}
.bord{
    opacity: 0.4;
    border: 1px solid #FFFFFF;}
.footer{
    background: #316099;
    padding-left: 113px;
    margin-top: 0;
    padding-bottom: 64px;
}
.footer_content{
    padding-left: 23px;
    padding-top: 64px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.contacts_data{
    width: 317px;
    list-style-type: none;
}
.dat1{
    padding-left: 0;
    list-style: "A. ";
}
.dat2{
    list-style: "T. ";
}
.dat3{
    list-style: "E. ";
}
.rights{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
@media (max-width: 768px){
    .container{
        margin-left: 32px;
    }
    .header{
        padding: 55px 32px;
        padding-bottom: 0;
        margin-bottom: 120px;
    }
    .top_heading{
        margin-left: 32px;
    }
    .top_text{
        margin-left: 32px;
    }
    .top_button{
        margin-left: 32px;
    }
    .top{
        background: linear-gradient(0deg, #DFEDF8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }
    .container{
        width: 100vw;
        margin-left: 0;
    }
    .top_info{
        background-size: 45vw;
        background-position: right bottom;
        margin-right: 32px;
        margin-bottom: 87px;
    }
    .what_we_do{
        display: flex;
        max-width: 768px;
    }
    .heading{
        width: 768px;
        margin-bottom: 32px;
    }
    .card_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 95px;
    }
    .card{
        margin-bottom: 32px;
    }
    .project_item{
        margin-left: 16px;
        margin-right: 16px;
    }
    .bot_text{
        width: 336px;
    }
    .bot_link{
        padding: 3px 30px;
        top: 0;
    }
    .footer_content{
        flex-direction: column;
    }
    .contacts_data{
        width: 455px;
        margin-bottom: 25px;
    }
    .footer_content{
        margin-bottom: 40px;
    }
}
@media (max-width: 376px){
    .top{
        padding: 24px 16px;
        height: 376px;
        padding-left: 0;
    }
    .header{
        padding: 0;
        margin-bottom: 0;
    }
    .top_heading{
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        margin-bottom: 12px;
    }
    .top_info{
        margin-top: 33px;
        background-image: none;
    }
    .top_text{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        width: 343px;
        margin: 0;
        margin-bottom: 32px;
    }
    .container{
        width: 344px;
    }
    .top_button{
        padding: 0 9px;
        font-size: 12px;
        line-height: 26px;
        margin-left: 118px;
    }
    .heading{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        width: 341px;
    }
    .container{
        margin-left: 16px;
    }
    .heading_mini{
        margin-bottom: 0;
    }
    .card{
        width: 336px;
    }
    .card_box{
        padding-bottom: 32px;
    }
    .project_text{
        top: 16px;
        right: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .project_parent{
        flex-direction: column;
        margin-top: 0;
    }
    .project_item{
        margin-bottom: 16px;
    }
    .project_text_0{
        font-size: 16px;
        line-height: 19px;
    }
    .bot{
        margin-top: 48px;
    }
    .bot_heading{
        font-size: 24px;
        line-height: 28px;
        padding: 18px 16px;
        text-align: center;
    }
    .bot_text{
        padding-left: 16px;
        text-align: center;
        margin-bottom: 40px;
    }
    .bot_link{
        position: relative;
        top: 0;
        right: 0;
        margin-left: 36vw;
        padding: 6px 16px;
    }
    .footer{
        padding-left: 16px;
    }
    .contacts_data{
        width: 304px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        list-style-type: decimal;
    }
    .rights{
        margin-left: 80px;
    }
}