{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div>
        <h2>{{ category.name }}</h2>
        <p style="text-align: left">{{ category.description }}</p>
        <br>
        <a href="{% url 'mainapp:add_post_list' category.id %}">Добавить статью в категорию "{{ category.name }}"</a>
        <br>
        <ul>
            {% for post in data %}
                <li>
                    <a href="{% url 'mainapp:post' post.post.id %}">{{ post.post.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'mainapp:home' %}">Домой</a>
    </div>
{% endblock %}