{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div>
        {% if post_list %}
            <form action="" method="post">
                {% csrf_token %}
                {% for post in post_list %}
                    <div>
                        <div>
                            <ul style="display: flex; justify-content: space-around; list-style-type: none; font-size: large; font-style: italic; font-weight: bold;">
                                <li style="display: inline;">"{{ post.name }}";</li>
                                <li style="display: inline;">автор: {{ post.user }};</li>
                                <li style="display: inline;">дата создания: {{ post.created_at }}</li>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <p style="word-wrap: break-word;">{{ post.text | truncatewords:70 }}
                                <a href="{% url 'mainapp:post' post.id %}">Читать далее</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <hr>
                {% endfor %}
            </form>
        {% else %}
            <h2>Нет статей</h2>
        {% endif %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                {% endif %}
                <li class="page-item"><span
                        class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}