{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div>
        <h2>Мои статьи</h2>
        <form action="" method="post">
            {% csrf_token %}
            {% if posts %}
                <table>
                    <thead>
                    <tr>
                        <th scope="col" style="border: 2px solid black;">Название</th>
                        <th scope="col" style="border: 2px solid black;">Автор</th>
                        <th scope="col" style="border: 2px solid black;">Текст статьи</th>
                        <th scope="col" style="border: 2px solid black;">Действия</th>
                    </tr>
                    </thead>
                    {% for post in posts %}
                        {% if post.user == user %}
                            <tbody>
                            <tr>
                                <td style="border: 2px solid black;">{{ post.name }}</td>
                                <td style="border: 2px solid black;">{{ post.user }}</td>
                                <td style="border: 2px solid black;">{{ post.text | truncatewords:50 }} </td>
                                <td style="border: 2px solid black;">
                                    <form action="#" method="post">
                                        <a href="{% url 'mainapp:add_post' post.id category%}">Добавить в категорию</a>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
                </form>
                <hr>
            {% else %}
                <h2>Нет статей</h2>
            {% endif %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item"><span
                        class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}