<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя {{ user }}</title>
</head>
<body>
<form class="form-horizontal" action="#" method="post">
    {% csrf_token %}
    {{ user }}
    {% if invite_code %}
        <h2>Приглашен по коду: {{ invite_code }}</h2>
    {% else %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="ввести код">
    {% endif %}
</form>
{% if message == 1 %}
    <p>Код сохранен!</p>
{% elif message == 2 %}
    <p>Нет пользователя с таким кодом!</p>
{% endif %}
<h2>Приглашенные пользователи:</h2>
{% if invited_users %}
    <ul>
    {% for u in invited_users %}
        <li>{{ u }}</li>
    {% endfor %}
{% else %}
    <p>Нет приглашенных пользователей!</p>
{% endif %}
</ul>
</body>
</html>